*{
     margin: 0;
     padding: 0;        
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
    
}
.navbar-nav li 
{ 
    padding: 0 130px;
    left : 300;
}

.navbar-nav li a
{
    color: fff !important;
    font-weight: 600;
}


/*---banner----*/
#banner
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}
.promo-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    
}
/*----services section------*/

#services
{
    background-image: linear-gradient(to right, #3f5efb, #fc466b, #3f5efb);
    color : #fff;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0%;
}


/*-----projects-----*/
#projects{
    
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    padding: 80px 0;
    text-align: center;
}
.medopedia{
    width : 500px;
    padding-left: 20%; 
}
/*---contact----*/
#contact
{
    background-image: linear-gradient(to right, #3f5efb, #fc466b, #3f5efb);
    color: #fff;
    padding-top: 0%;
    padding-bottom: 5%;
}
.promo-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    
}

